In [1]:
#!pip install pandas
#!pip install matplotlib
#!pip install seaborn
import pandas as pd
import matplotlib
import seaborn as sns
import pickle

In [2]:
data=pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Exploratory Data Analysis

In [4]:
data.shape

(21613, 21)

In [5]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [7]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# Splitting of Data for training and testing

In [8]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
X=data[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement',
        'sqft_living15', 'sqft_lot15']]

In [10]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,1020,1357

In [11]:
Y=data['price']

In [12]:
Y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [15]:
#!pip install scikit-learn

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.25,random_state=101)

In [15]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
19642,4,2.50,2070,4270,2.0,0,0,3,8,2070,0,2070,4610
8626,3,2.25,1400,6970,2.0,0,0,3,8,1400,0,1800,8140
6954,5,3.00,2190,4900,2.0,0,0,5,7,1490,700,1370,4606
20242,4,2.50,2547,4800,2.0,0,0,3,9,2547,0,2598,4800
10376,5,3.50,4060,8309,2.0,0,0,3,9,2960,1100,1730,11711
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,3,2.25,1920,9672,2.0,0,0,4,8,1920,0,1950,10125
8006,3,1.00,1240,3600,1.5,0,0,3,7,1240,0,1680,3600
17745,3,2.25,1780,7332,2.0,0,0,3,7,1780,0,1510,7625
17931,2,1.00,1150,5000,1.0,0,0,4,7,1050,100,1463,4320
13151,3,1.00,1450,7930,1.0,0,0,4,6,1150,300,1040,7740

In [16]:
Y_train

19642    493000.0
8626     425000.0
6954     588000.0
20242    392440.0
10376    630000.0
           ...
5695     625000.0
8006     390000.0
17745    272450.0
17931    552000.0
13151    394000.0
Name: price, Length: 16209, dtype: float64

In [17]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
3834,2,1.00,1050,6317,1.5,0,0,4,7,1050,0,1600,9616
1348,4,2.25,2040,9565,1.0,0,0,3,8,1400,640,1890,8580
20366,4,2.50,2500,4000,2.0,0,0,3,8,2500,0,1480,4300
16617,5,2.00,2360,19899,1.0,0,0,4,7,2360,0,1860,19998
20925,3,3.00,1670,4440,1.0,0,0,3,7,1670,0,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7148,3,1.75,1520,5500,1.5,0,0,5,7,1520,0,2310,5500
2747,5,3.00,2970,10335,2.0,0,0,3,9,2970,0,2970,10335
15565,3,2.50,3440,103672,2.0,0,0,3,9,3440,0,2710,112820
21238,3,2.50,1572,4000,2.0,0,0,3,8,1572,0,1608,5175
2333,3,3.00,2920,23085,1.5,0,2,3,7,1540,1380,2270,18180

In [18]:
Y_test

3834     349950.0
1348     450000.0
20366    635000.0
16617    355500.0
20925    246950.0
           ...
7148     738000.0
2747     726000.0
15565    560000.0
21238    299000.0
2333     555000.0
Name: price, Length: 5404, dtype: float64

# Normalization basically Standarization

# Model training

In [19]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [20]:
lr.fit(X_train,Y_train)

LinearRegression()

In [21]:
Y_pred=lr.predict(X_test)

In [22]:
Y_pred

array([356776.02589277, 511927.33428643, 573736.52389144, ...,
       824101.44697862, 437013.51415347, 731915.82170733])

In [23]:
Y_test

3834     349950.0
1348     450000.0
20366    635000.0
16617    355500.0
20925    246950.0
           ...
7148     738000.0
2747     726000.0
15565    560000.0
21238    299000.0
2333     555000.0
Name: price, Length: 5404, dtype: float64

In [24]:
from sklearn.metrics import mean_absolute_error,r2_score

In [22]:
mean_absolute_error(Y_test,Y_pred)

151500.5360109082

In [23]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
3834,2,1.00,1050,6317,1.5,0,0,4,7,1050,0,1600,9616
1348,4,2.25,2040,9565,1.0,0,0,3,8,1400,640,1890,8580
20366,4,2.50,2500,4000,2.0,0,0,3,8,2500,0,1480,4300
16617,5,2.00,2360,19899,1.0,0,0,4,7,2360,0,1860,19998
20925,3,3.00,1670,4440,1.0,0,0,3,7,1670,0,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7148,3,1.75,1520,5500,1.5,0,0,5,7,1520,0,2310,5500
2747,5,3.00,2970,10335,2.0,0,0,3,9,2970,0,2970,10335
15565,3,2.50,3440,103672,2.0,0,0,3,9,3440,0,2710,112820
21238,3,2.50,1572,4000,2.0,0,0,3,8,1572,0,1608,5175
2333,3,3.00,2920,23085,1.5,0,2,3,7,1540,1380,2270,18180

In [24]:
X_test.loc[7148]

bedrooms            3.00
bathrooms           1.75
sqft_living      1520.00
sqft_lot         5500.00
floors              1.50
waterfront          0.00
view                0.00
condition           5.00
grade               7.00
sqft_above       1520.00
sqft_basement       0.00
sqft_living15    2310.00
sqft_lot15       5500.00
Name: 7148, dtype: float64

In [25]:
linear_Acc=r2_score(Y_test,Y_pred)

In [26]:
print(linear_Acc)

0.6211653492243913

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
ran=RandomForestRegressor(n_estimators=100, max_features='sqrt')

In [30]:
ran.fit(X_train,Y_train)

RandomForestRegressor(max_features='sqrt')

In [32]:
Y_pred=ran.predict(X_test)

In [33]:
random_acc=r2_score(Y_test,Y_pred)*100

In [34]:
print(random_acc)

74.12389953012992

In [40]:
from sklearn.linear_model import LogisticRegression
lor=LogisticRegression(solver='liblinear', random_state=0)

In [41]:
lor.fit(X_train_std,Y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [42]:
Y_pred=lor.predict(X_test_std)

In [43]:
Y_pred

array([350000., 450000., 325000., ..., 550000., 450000., 475000.])

In [44]:
lor_acc=r2_score(Y_test,Y_pred)

In [45]:
print(lor_acc)

0.4012119537580109

In [58]:
from sklearn.linear_model import Lasso
los=Lasso(alpha=1)

In [27]:
los.fit(X_train,Y_train)

NameError: name 'los' is not defined

In [64]:
lasso_pred=lor.predict(X_test_std)

In [65]:
lasso_pred

array([350000., 450000., 325000., ..., 550000., 450000., 475000.])

In [70]:
lasso_score=r2_score(Y_test,lasso_pred)

In [71]:
lasso_score

0.4012119537580109

In [52]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor

# create regressor object
random = RandomForestRegressor(n_estimators = 100, random_state = 0)

In [53]:
random.fit(X_train,Y_train)

RandomForestRegressor(random_state=0)

In [54]:
random_pred=random.predict(X_test_std)

In [55]:
random_pred

array([253017.5, 253017.5, 253017.5, ..., 253017.5, 253017.5, 254637.5])

In [67]:
random_score=r2_score(Y_test,random_pred)*100

In [69]:
print(random_score)

-58.03274580966815

In [35]:
pickle.dump(ran, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

# Lets predict for Single House

In [37]:
new_house=[[3,1,1520,5000,1,0,0,3,8,1000,1,2000,5000]]

In [38]:
new_house_std=std.transform(new_house)

NameError: name 'std' is not defined

In [39]:
new_house

[[3, 1, 1520, 5000, 1, 0, 0, 3, 8, 1000, 1, 2000, 5000]]

In [40]:
int(lr.predict(new_house))

433424

In [41]:
int(model.predict(new_house))

571868